<br><br>
<p style="text-align:center;"> Task 1  &nbsp; &nbsp;&nbsp; ----->>>>---->>>>&nbsp;&nbsp;&nbsp;<mat-checkbox></mat-checkbox> </p><br>
<p style="text-align:center;"> Task 2  &nbsp; &nbsp;&nbsp; ----->>>>---->>>>&nbsp;&nbsp;&nbsp;<mat-checkbox></mat-checkbox> </p><br>
<p style="text-align:center;"> Task 3  &nbsp; &nbsp;&nbsp; ----->>>>---->>>>&nbsp;&nbsp;&nbsp;<mat-checkbox></mat-checkbox> </p><br>
<p style="text-align:center;"> Task 4  &nbsp; &nbsp;&nbsp; ----->>>>---->>>>&nbsp;&nbsp;&nbsp;<mat-checkbox></mat-checkbox> </p><br>
<p style="text-align:center;"> Task 5  &nbsp; &nbsp;&nbsp; ----->>>>---->>>>&nbsp;&nbsp;&nbsp;<mat-checkbox></mat-checkbox> </p>
